<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <div>
      <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold">PDF Extractor + Vanilla</h1>
      <p class="py-6">O PDF Extractor é uma ferramenta poderosa que permite extrair dados de PDFs com facilidade. Ele é feito com Vanilla, TypeScript e Vite, e é totalmente gratuito para uso. Com o PDF Extractor, você pode extrair texto, imagens, tabelas e muito mais de seus PDFs. Basta carregar seu PDF, selecionar o que deseja extrair e clicar em "Extrair". O PDF Extractor fará o resto. É rápido, fácil e eficiente. Experimente hoje mesmo!</p>
      <button class="btn bg-[#005C99]" hx-on:click="window.location.href = '/start'">Get Started</button>
    </div>
  </div>
</div>