<div class="section-start pdfwork p-8">
  <div class="start-columns flex flex-wrap md:grid grid-cols-2 gap-6">
    <div class="start-column h-screen">
      <div class="start-card h-full card bg-neutral text-neutral-content">
        <div class="card-body h-full">
          <div class="start-card-item">
            <div class="stat-value text-xl">PDF Extractor</div>
            <p>WEQ Software
              Providing reliable tech since 2022</p>
          </div>
          <div class="flex flex-col w-full">
            <div class="divider divider-info h-0"></div>
          </div>
          <div class="flex flex-wrap gap-4 md:grid grid-cols-2">
            <div class="card-body-field">
              <div class="start-card-item">
                <label class="form-control w-full max-w-xs">
                  <div class="label font-semibold px-0">
                    <span class="label-text text-base">Select PDF</span>
                  </div>
                  <input type="file" class="select-pdf select-sm file-input file-input-bordered w-full max-w-xs" />
                </label>
              </div>
              <div class="start-card-item">
                <div class="card-label">
                  <div class="label font-semibold px-0">
                    <span class="label-text text-base">Password</span>
                  </div>
                </div>
                <div class="card-field">
                  <input type="password" placeholder="Optional" class="input input-sm pwd input-bordered w-full max-w-xs" />
                </div>
              </div>
              <div class="start-card-item">
                <div class="card-label">
                  <div class="label pt-3 px-0">
                    <button class="btn btn-sm upload bg-[#005C99]"><span class="mdi mdi-folder-upload"></span>Upload</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body-field">
              <div class="start-card-item">
                <label class="form-control w-full max-w-xs">
                  <div class="label">
                    <span class="label-text font-semibold text-base">Select Page</span>
                  </div>
                  <select class="select select-page select-sm select-bordered">
                  </select>
                </label>
              </div>
              <div class="start-card-item">
                <div class="card-label">
                  <div class="label pt-3 px-0">
                    <a href="" class="btn btn-sm download bg-[#005C99]" download> <span class="mdi mdi-download"></span>Download PDF</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="start-colum h-screen w-full">
      <div class="start-column h-full">
        <div class="start-card h-full card bg-neutral text-neutral-content">
          <div class="card-body">
            <div class="start-card-item h-full">
              <textarea class="textarea pdf-text textarea-info h-full w-full" placeholder="Text"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

